a.texto-link {
	font-weight: 500;
	text-decoration: inherit;
	color: $secundario;
	margin: 1rem;
	margin-top: 0;
	transition: color 0.3s ease-in;
	&:hover {
		color: $primario;
	}
}
.titulo {
	font-size: 1.7rem;
	font-weight: 400;
}
.descripcion {
	font-size: 1.1rem;
	padding: 0.5rem;
}
.logo {
	img {
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
}
.encabezado-perfil {
	text-align: center;
	font-size: 1.3rem;
	span {
		font-size: 1.7rem;
		font-weight: bold;
	}
}
.navbar {
	align-items: center;
	background-color: $primario;
	color: $texto-claro;
	display: flex;
	font-weight: bold;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0.3rem;
	position: sticky;
	top: 0;
	z-index: 98;
	ul li {
		border-radius: 2rem;
		cursor: pointer;
		margin: 0.5rem;
		padding: 1rem;
		transition: all 0.3s ease;
		&.activo {
			background-color: $secundario;
		}
		&:hover {
			background-color: $blanco;
			color: $secundario;
		}
	}
  @media (min-width: 992px) {
    justify-content: space-between;
  }
}
.contenedor {
	&-img {
		border-radius: 1rem;
		position: relative;
		overflow: hidden;
		margin: 0.5rem;
		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
		&.perfil {
			border-radius: 4rem;
			height: 5rem;
			width: 5em;
			img {
				width: 100%;
			}
			@media (min-width: 576px) {
				height: 7rem;
				width: 7rem;
			}
		}
		&.sesion {
			width: 3rem;
			height: 3rem;
			margin: 0rem auto 0.5rem auto;
		}
	}
	&-sesion {
		position: relative;
		.texto-sesion {
			position: absolute;
			bottom: -0.5rem;
			text-align: center;
			width: 100%;
		}
	}
	&-galeria {
		align-items: center;
		justify-content: center;
		display: flex;
		flex-wrap: wrap;
		@media (min-width: 992px) {
			margin: 1rem 2rem;
		}
	}
	&-formulario {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100vh;
	}
	&-logo {
		padding-top: 0.5rem;
		background-color: $primario;
	}
	&-publicacion {
		border-bottom: 2px solid $gris-claro;
		box-shadow: 0px 3px 20px 0px #6d6a6d7a;
		display: flex;
		flex-wrap: wrap;
    padding-bottom: 1rem;
    justify-content: center;
		& .contenedor-img {
			margin-left: auto;
			margin-right: auto;
			@media (min-width: 576px) {
				max-height: 70vh;
				max-width: 50vw;
        height: 100%;
			}
		}
	}
}
.modal-bg {
	background-color: $fondo-oscuro-transparente;
	position: fixed;
	top: 0;
	height: 100vh;
	width: 100vw;
	z-index: 99;
	.modal-container {
		align-items: center;
		display: flex;
		justify-content: center;
		height: 100vh;
		width: 100vw;
	}
	.modal {
		align-items: center;
		background-color: $fondo;
		border-radius: 1.5rem;
		display: flex;
		padding: 1.5rem;
		width: calc(100vw / 2);
	}
}
.formulario {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 2rem auto;
}
.grupo-inputs {
	position: relative;
	padding: 1.3rem 0.5rem;
	label {
		background-color: $fondo;
		position: absolute;
		top: 0;
		transition: all 0.3s ease-in;
		left: 1rem;
	}
	input,
	textarea {
		border: 3px solid $secundario;
		border-radius: 0.5rem;
		padding: 0.5rem;
		font-size: 1.5rem;
		transition: all 0.3s ease-in;
		&:hover,
		&:focus {
			border: 3px solid $primario;
		}
		&:hover ~ label,
		&:focus ~ label {
			color: $primario;
		}
	}
}
button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.5rem;
	font-size: 1em;
	font-weight: bold;
	font-family: inherit;
	margin: 0.5rem;
	text-transform: uppercase;
	transition: all 0.25s ease-in;
	&:focus,
	&:focus-visible {
		outline: none;
	}
	&.btn-outline {
		border: 3px solid $secundario;
		color: $secundario;
		background-color: transparent;
		&:hover,
		&:focus {
			border-color: $primario;
			color: $primario;
		}
	}
	&.btn-flat {
		&.primario {
			background-color: $primario;
			color: $texto-claro;
			&:hover {
				box-shadow: 0px 0px 20px 1px $primario;
			}
		}
		&.secundario {
			background-color: $secundario;
			color: $texto-claro;
			&:hover {
				box-shadow: 0px 0px 20px 1px $secundario;
			}
		}
		&.pequeño {
			font-size: 0.7rem;
			margin: 0.3rem;
		}
	}
	&.btn-absolute {
		position: absolute;
		top: 0;
		right: 0;
	}
	&.btn-icon {
    align-items: center;
    background-color: transparent;
    display: flex;
		color: $secundario;
		font-size: 1.5rem;
		margin: 0;
    & span {
      font-size: 1.1rem;
    }
		&:not(.btn-absolute-bottom):hover {
      color: $primario;
		}
	}
  &.btn-fixed-bottom {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 98;
    background-color: $primario;
    color: $blanco;
  }
}
